:root {
  --main-color: #FFF5F;
  --product-pink: #FFB8CA;
  --product-yellow: #F0D1A5;
  --product-green: #C2E297;
  --dark-pink: #D41443;
  --light-pink: #FFA5BA;
  --text-color: #FFFFFF;
}

* {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  list-style-type: none;
}

.container {
  padding: 0px 20px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

.products-second__heading {
  text-align: center;
  font-size: 18px;
  font-family: "Titan One";
  color: var(--light-pink);
  margin-bottom: 15px;
  margin-top: 100px;
}

.products-first__heading {
  text-align: center;
  position: relative;
  font-size: 34px;
  color: var(--dark-pink);
  margin-bottom: 31px;
  font-family: "Titan One";
}

.product-square__item {
  width: 100%;
  height: 485px;
  border-radius: 24px;
  margin-top: 143px;
}

.--product-pink {
  background-color: var(--product-pink);
}

.--product-yellow {
  background-color: var(--product-yellow);
}

.--product-green {
  background-color: var(--product-green);
}

.product__item {
  display: flex;
  width: 100%;
}

.product-foto__heading {
  opacity: 0;
}

.product-item__heading {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 22.9px;
  letter-spacing: 4%;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 33px;
}

.product-item__paragraf {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 21.28px;
  letter-spacing: 4%;
  text-align: center;
  color: var(--text-color);
}

.product-margin_pic {
  margin-top: -158px;
  padding-top: 31px;
  width: 100%;
  margin-bottom: 31px;
}

.test {
  display: flex;
  justify-content: center;
}

.product_radius {
  border-radius: 50%;
  margin-top: 41px;
  margin-bottom: 41px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .product__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    width: calc((100% - 30px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .product__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    width: calc((100% - 30px) / 3);
  }
}/*# sourceMappingURL=main.css.map */