:root {
    --main-color: #FFF5F;
    --menu: #E18298;
    --product-pink: #FFB8CA;
    --product-yellow: #F0D1A5;
    --product-green: #C2E297;
    --dark-pink: #D41443;
    --light-pink: #FFA5BA;
    --text-color: #FFFFFF;
}


// color: var(nazwakoloru)