.nav-container {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 62px;
    overflow: visible;
    outline: none;

    &.is-active {
        .nav-toggle {

            &:before,
            &:after {
                box-shadow: none;
            }

            &:before {
                transform: rotate(-45deg);
                background: white;
            }

            &:after {
                transform: rotate(45deg);
                background: white;
            }
        }

        .nav-items {
            transform: translate(0, 0);
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
        }
    }

   .nav-toggle {
       position: relative;
       width: 20px;
       height: 20px;
       margin-top: 25px;
       margin-right: 20px;
       z-index: 1001;

       &:hover {
           cursor: pointer;
       }

       &:before,
       &:after {
           content: "";
           position: absolute;
           top: 6px;
           right: 0;
           transform: translate(0, 0);
           width: 100%;
           height: 1px;
           background: red;
           transition: transform .3s ease, box-shadow .3s ease;
       }

       &:before {
           box-shadow: 0 6px 0 0 red;
       }

       &:after {
           box-shadow: 0 -6px 0 0 red;
       }
   }
    .nav-items {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        z-index: 1000;
        padding: 80px 20px 20px 10px;
        transition: transform .3s ease;
        transform: translate(100% , 0);
        background: #E18298;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px 0;
        align-content: start;
       

        .nav-item {
            background: #E18298;
            padding: 10px;
            transition: background-color .3s ease;

            &:hover {
                background: #E18298;;
            }
        }
    }
}

// list w hamburgerze //
.nav-items__button {
    width: 209px;
    height: 44px;
    border-radius: 22px;
    background-color: #fff;
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.nav-items__buy {
    color: #D41443;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-items__marker {
    color: #D41443;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    display: inline-block;
    padding-left: 8px;
}

.nav-item__anchor {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

.nav-item__anchor:hover {
    color: #D41443;
    transition: color 1s cubic-bezier(.165, .84, .44, 1);
}

// list w hamburgerze //

@media screen and(min-width: 767px) {
    .nav-container {
        margin-right: 215px;
        padding-top:  26px;

        &.is-active {
            .nav-toggle {
            position: absolute;
            left: 200px;
            top: -5px;
            }
        }
        }
        .nav-items {
            top: 0;
            left: 20px;
            width: 254px;
            height: 100vh;
            z-index: 1000;
        }
        .nav-toggle {
            position: relative;
            width: 20px;
            height: 20px;
            margin-top: 50px;
            margin-right: 20px;
            }
        .nav-items__button {
            width: 155px;
            height: 44px;
            margin-left: 25px;
            margin-bottom: 20px;
        }
}


// brak hamburgera //
@media screen and(min-width: 1200px) {
    .nav-container {
        display: none;
    }
}
// brak hamburgera //


