$toggleSize: 20px;
$toggleMargin: 10px;
$toggleLine: 2px;
$toggleColor: var(--dark-pink);

.nav-container {
    display: inline-block;
    max-width: $toggleSize + $toggleMargin;
    max-height: $toggleSize + $toggleMargin;
    overflow: visible;
    outline: none;

    //&:focus-within, &:focus {
    &.is-active {
        .nav-toggle {

            &:before,
            &:after {
                box-shadow: none;
            }

            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }

        .nav-items {
            transform: translate(60vw, 0);
        }
    }

    .nav-toggle {
        $offset: $toggleSize * 0.5;

        position: relative;
        width: $toggleSize;
        height: $toggleSize;
        margin: $toggleMargin;
        z-index: 902;

        &:hover {
            cursor: pointer;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 20px;
            left: -35%;
            transform: translate(0, 0);
            width: 100%;
            height: $toggleLine;
            background: $toggleColor;
            transition: transform .3s ease, box-shadow .3s ease;
        }

        &:before {
            box-shadow: 0 #{$offset / 1.5} 0 0 $toggleColor;
        }

        &:after {
            box-shadow: 0 #{-$offset / 1.5} 0 0 $toggleColor;
        }
    }

    .nav-items {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        height: 100vh;
        width: 40vw;
        z-index: 901;
        padding: 80px 20px 20px 10px;
        transition: transform .3s ease;
        transform: translate(calc(100vw), 0);
        background: #E17992;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px 0;
        align-content: start;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);

        .nav-item {
            background: darken(#EFEFEF, 5%);
            padding: 10px;
            transition: background-color .3s ease;

            &:hover {
                cursor: pointer;
                background: darken(#EFEFEF, 10%);
            }
        }
    }
}

.nav-items__button{
    width: 209px;
    height: 44px;
    border-radius: 22px;
    background-color: #fff;
    border-color: #fff;
}