<section id="contacts" class="contacts-section">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts__list">
        <span class="contacts__header-cafe">CAFE</span>
        <div class="contacts__place">
          <h4 class="contacts__city">Chicago</h4>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__open">
          <h4 class="contacts__open-days">Monday - Friday</h4>
          <span class="contacts__open-hours">06:00 AM - 10:00 PM</span>
          <h4 class="contacts__open-days">Saturday - Sunday</h4>
          <span class="contacts__open-hours">08:00 AM - 16:00 PM</span>
        </div>
        <adress class="contacts__adress">
          <a class="contacts__adress-data" href="tel:+610383766284">+61(0) 383 766 284 </a>
          <a class="contacts__adress-data" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </adress>
      </li>
      <li class="contacts__list">
        <span class="contacts__header-foodtruck">FOODTRUCK</span>
        <div class="contacts__place">
          <h4 class="contacts__city">Los Angeles</h4>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__open">
          <h4 class="contacts__open-days">Monday - Friday</h4>
          <span class="contacts__open-hours">06:00 AM - 10:00 PM</span>
          <h4 class="contacts__open-days">Saturday - Sunday</h4>
          <span class="contacts__open-hours">08:00 AM - 16:00 PM</span>
        </div>
        <adress class="contacts__adress">
          <a class="contacts__adress-data" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__adress-data" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </adress>
      </li>
      <li class="contacts__list">
        <span class="contacts__header-cafe">CAFE</span>
        <div class="contacts__place">
          <h4 class="contacts__city">New York</h4>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__open">
          <h4 class="contacts__open-days">Monday - Friday</h4>
          <span class="contacts__open-hours">06:00 AM - 10:00 PM</span>
          <h4 class="contacts__open-days">Saturday - Sunday</h4>
          <span class="contacts__open-hours">08:00 AM - 16:00 PM</span>
        </div>
        <adress class="contacts__adress">
          <a class="contacts__adress-data" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__adress-data" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </adress>
      </li>
    </ul>
    <div class="localisation-buttons">
      <button class="localisation-buttons__button" type="button">
        Our Locations
        <svg class="localisations-buttons__icon" width="5" height="8">
          <use href="images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
      <button class="localisation-buttons__button" type="button">
        Franchise
        <svg class="localisations-buttons__icon" width="5" height="8">
          <use href="images/icons.svg#icon-button-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- KONIEC SEKCJI CONTACTS -->
