<header class="hero-header">
    <title>Ice cream made with passion</title>
    <section class="hero-header__top header-top">
        <div class="header-top__logo">
            <img class="header-top__img" src="../src/images/logo 1.png" srcset="../src/images/logox2.png 2x">
        </div>
        <ul class="hero-header__menu header-menu">
            <li class="header-menu__item"><a class="header-menu__anchor" href="#">Home</a></li>
            <li class="header-menu__item"><a class="header-menu__anchor" href="#">About us</a></li>
            <li class="header-menu__item"><a class="header-menu__anchor" href="#">How it's made?</a></li>
            <li class="header-menu__item"><a class="header-menu__anchor" href="#">Our products</a></li>
            <li class="header-menu__item"><a class="header-menu__anchor" href="#">Contact</a></li>
        </ul>
        <!-- hamburger menu -->
        <div class="nav-container" tabindex="0">
            <div class="nav-toggle"></div>
            <ul class="nav-items">
                <button class="nav-items__button"><a href="" class="nav-items__buy">Buy now <span
                            class="nav-items__marker">&gt;</span></a></button>
                <li class="nav-item"><a class="nav-item__anchor" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-item__anchor" href="#">About us</a></li>
                <li class="nav-item"><a class="nav-item__anchor" href="#">How it's made?</a></li>
                <li class="nav-item"><a class="nav-item__anchor" href="#">Our products</a></li>
                <li class="nav-item"><a class="nav-item__anchor" href="#">Contact</a></li>
            </ul>
        </div>
        <!-- hamburger menu -->
        <button class="header-top__buy"><a class="header-top__buylink" href="#">Buy now &gt;</a></button>
        <!-- topic -->
    </section>
    <section class="hero-header__topic header-topic">
        <p class="header-topic__p">ICE CREAM
        <p class="header-topic__p">MADE WITH</p>
        </p>
        <span class="header-topic__span">PASSION</span>
    </section>
    <!-- topic -->

    <!-- buttons -->
    <section class="hero-header__buttons hero-button">
        <button class="hero-button__product"><a class="hero-button__link" href="#products">Products</a></button>
        <button class="hero-button__how"> <a class="hero-button__link" href="">How it's made?</a></button>
    </section>
    <!-- buttons -->

    <!-- food trucks cafes -->
    <section class="hero-header__eat header-eat">
        <div class="header-eat__number --cafes">
            <p>16</p><span class="header-eat__span">cafes</span><img class="header-eat__cafecircle"
                src="../src/images/number-circle.png">
        </div>
        <div class="header-eat__number --foodtrucks">
            <p>23</p><span class="header-eat__span --trucks-span">food trucks</span><img class="header-eat__truckcircle"
                src="../src/images/number-circle.png">
        </div>
    </section>
    <!-- food trucks cafes -->

    <!-- imgs-->
    <section class="hero-header__images">
        <div class="hero-header__icediv"><img class=header-bottom__icecream src="../src/images/lód-header.png" srcset="../src/images/lód-headerx2.png 2x"></div>
        <div class="hero-header__milkdiv"><img class=header-bottom__milk src="../src/images/milk.png" srcset="../src/images/milkx2.png 2x"></div>
        <div class="hero-header__tastydiv"><img class=header-bottom__tasty src="../src/images/tasty.png" srcset="../src/images/tastyx2.png 2x"></div>
    </section>
    <!-- imgs -->
    <div class="hero-header__span header-span">
        <span class="header-span__lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et</span>
        <img class="header-span__arrow" src="../src/images/arrow.png">
    </div>
</header>