<section class="produscts container" id="products">
  <div>
    <h2 class="products-second__heading">100% NATURAL</h2>
    <h1 class="products-first__heading">PRODUCTS</h1>
  </div>
  <ul class="product">
    <li class="product__pink">
      <h3 class="product__heading">ICE CREAM</h3>
      <p class="product__paragraf">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button class="product__btn" type="button">
        <svg class="product__icon" width="25" height="12">
          <use href="images/icons.svg#icon-product-arrow"></use>
        </svg>
      </button>
    </li>
    <li class="product__yellow">
      <h3 class="product__heading">ICE CREAM</h3>
      <p class="product__paragraf">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button class="product__btn" type="button">
        <svg class="product__icon" width="25" height="12">
          <use href="images/icons.svg#icon-product-arrow"></use>
        </svg>
      </button>
    </li>
    <li class="product__green">
      <h3 class="product__heading">ICE CREAM</h3>
      <p class="product__paragraf">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <button class="product__btn" type="button">
        <svg class="product__icon" width="25" height="12">
          <use href="images/icons.svg#icon-product-arrow"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
