<section class="produscts container" id="products">
  <div>
    <div class="products-second__heading">100% NATURAL</div>
    <h2 class="products-first__heading">PRODUCTS</h2>
  </div>
  <ul class="product">
    <li class="product__pink">
      <h3 class="product__heading">ICE CREAM</h3>
      <p class="product__paragraf">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et
        dictum interdum, nisi lorem egestas vitae scel<span id="dots1">...</span
        ><span id="more1"
          >erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor
          vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed
          ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare
          turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non
          fermentum. Sed dapibus pulvinar nibh tempor porta.</span
        >
      </p>

      <button onclick="myFunction1()" id="myBtn" class="product__btn">
        <svg class="product__icon" width="25" height="12">
          <use href="images/icons.svg#icon-product-arrow"></use>
        </svg>
      </button>
    </li>
    <li class="product__yellow">
      <h3 class="product__heading">ICE CREAM</h3>
      <p class="product__paragraf">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et
        dictum interdum, nisi lorem egestas vitae scel<span id="dots2">...</span
        ><span id="more2"
          >erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor
          vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed
          ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare
          turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non
          fermentum. Sed dapibus pulvinar nibh tempor porta.</span
        >
      </p>

      <button onclick="myFunction2()" id="myBtn" class="product__btn">
        <svg class="product__icon" width="25" height="12">
          <use href="images/icons.svg#icon-product-arrow"></use>
        </svg>
      </button>
    </li>
    <li class="product__green">
      <h3 class="product__heading">ICE CREAM</h3>
      <p class="product__paragraf">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et
        dictum interdum, nisi lorem egestas vitae scel<span id="dots3">...</span
        ><span id="more3"
          >erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor
          vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed
          ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare
          turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non
          fermentum. Sed dapibus pulvinar nibh tempor porta.</span
        >
      </p>
      <button onclick="myFunction3()" id="myBtn" class="product__btn">
        <svg class="product__icon" width="25" height="12">
          <use href="images/icons.svg#icon-product-arrow"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
