.products-second__heading {
    text-align: center;
    font-size: 18px;
    font-family: "Titan One";
    color: var(--light-pink);
    margin-bottom: 15px;
    margin-top: 100px;

}

.products-first__heading {
    text-align: center;
    position: relative;
    font-size: 34px;
    color: var(--dark-pink);
    margin-bottom: 31px;
    font-family: "Titan One";

}

.product-item__section {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}