.products {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.products-second__heading {
    text-align: center;
    font-size: 18px;
    font-family: "Titan One";
    color: var(--light-pink);
    margin-bottom: 15px;
    margin-top: 100px;

}

.products-first__heading {
    text-align: center;
    position: relative;
    font-size: 34px;
    color: var(--dark-pink);
    margin-bottom: 31px;
    font-family: "Titan One";
}

