.products-second__heading {
    text-align: center;
    font-size: 18px;
    color: var(--light-pink);
    
}

.products-first__heading {
    text-align: center;
    position:relative;
    font-size:34px;
    color: var(--dark-pink);
    margin-bottom: 31px;
}

