.product-square__item {

  width: 100%;
  height: 485px;
  border-radius: 24px;
  margin-top: 143px;
  

}
.--product-pink {
  background-color: var(--product-pink);
}
.--product-yellow {
  background-color: var(--product-yellow);
}
.--product-green {
  background-color: var(--product-green);
}
.product__item {
  // padding-left: 20px;
  // padding-right: 20px;
  display: flex;
  width: 100%;
}

.product-foto__heading {
  opacity: 0;
}

.product-item__heading {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 20px;
  line-height: 22.9px;
  letter-spacing: 4%;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 33px;
}

.product-item__paragraf {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 21.28px;
  letter-spacing: 4%;
  text-align: center;
  color: var(--text-color);
}

  .product-margin_pic{
   
    margin-top: -158px;
    padding-top: 31px;
    // margin-left: 15px;
    // margin-right: 15px;
    width: 100%;
    margin-bottom: 31px;

  }
.test {
  display: flex;
  justify-content: center;
}
  .product_radius {
    border-radius: 50%;
    margin-top: 41px;
    margin-bottom: 41px;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    
  
     }

    @media screen and (min-width: 768px) {
      .product__list {
         display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        width: calc((100% - 30px)/3);
      }
  }

  @media screen and (min-width: 1200px) {
    .product__list {
       display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 20px;
      width: calc((100% - 30px)/3);
    }
}