.localisation-buttons {
  background-color: #fff5f6;
  padding-top: 54px;
  padding-bottom: 113px;
  display: flex;
  justify-content: center;
  &__button {
    background-color: #ffffff;
    height: 44px;
    margin: 0 auto;
    border-radius: 22px;
    border: none;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #d41443;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 500ms;
    transition: background-color 1000ms cubic-bezier(0.165, 0.84, 0.44, 1),
      color 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover,
    &:focus {
      background-color: #d41342;
      color: #ffffff;
      transform: scale(1.1);
    }
    &:hover .localisation-buttons__icon,
    &:focus .localisation-buttons__icon {
      fill: #ffffff;
      transform: scale(1.1);
    }
  }
  &__icon {
    fill: #d41443;
    margin-left: 13.5px;
    transition: fill 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

@media screen and (max-width: 767px) {
  .localisation-buttons {
    flex-direction: column;
    row-gap: 10px;
    &__button {
      width: 161px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .localisation-buttons {
    flex-direction: row;
    column-gap: 14.5px;
    &__button {
      width: 191.45px;
      margin: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .localisation-buttons {
    flex-direction: row;
    column-gap: 15px;
    &__button {
      width: 198px;
      margin: 0;
    }
  }
}
