.modal {
    width: auto;
    height: 609px;
    background-color: var(--dark-pink);
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

@media screen and(min-width: 320px) {
    .modal {
        width: auto;
        height: 609px;
        background-color: var(--dark-pink);
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
}

@media screen and(min-width: 768px) {
    .modal {
        width: 450px;
        height: 609px;
        background-color: var(--dark-pink);
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
}

@media screen and(min-width: 1200px) {
    .modal {
        width: 528px;
        height: 581px;
        background-color: var(--dark-pink);
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-hidden2 {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.index-modal-form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    height: 609px;
}

@media screen and(min-width: 320px) {
    .index-modal-form {
        display: flex;
        flex-direction: column;
        min-width: 320px;
        height: auto;
    }
}

@media screen and(min-width: 768px) {
    .index-modal-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

@media screen and(min-width: 1200px) {
    .index-modal-form {
        display: flex;
        flex-direction: column;
        min-width: 528px;
        height: auto;
        margin-bottom: 20px;
    }
}

.index-modal-form__leavedata {
    font-family: 'DM Sans',
        sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 40px 40px 12px 40px;
    color: #fff;
}

.index-modal-form__label {
    display: flex;
    flex-direction: column;
}

@media screen and(min-width: 768px) {
    .index-modal-form__label {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.index-modal-form__user {
    margin-left: 40px;
    margin-bottom: 4px;
    font-family: 'DM Sans',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #fff;
}

.index-modal-form__userarea {
    position: relative;
    margin-left: 40px;
    width: 370px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: var(--product-pink);
}

@media screen and(min-width: 320px) {
    .index-modal-form__userarea {
        position: relative;
        margin-right: auto;
        width: auto;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    }
}

@media screen and(min-width:768px) {
    .index-modal-form__userarea {
        position: relative;
        margin-left: 40px;
        width: 370px;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    }
}

@media screen and(min-width:1200px) {
    .index-modal-form__userarea {
        position: relative;
        margin-left: 40px;
        width: 448px;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    }
}

.index-modal-form__userarea:focus-within {
    outline: none;
    border-color: #9b0e0e;
    transition: cubic-bezier(0.4, 0, 0.2, 1), 250ms;
}

.index-modal-form__user:focus-within {
    fill: #2196F3;
    transition: cubic-bezier(0.4, 0, 0.2, 1), 250ms;
}

.index-modal-form__userarea--userplace {
    padding-left: 45px;
    font-size: 14px;
}

.index-modal-form__usersvg {
    top: 127px;
    left: 55px;
    position: absolute;
    fill: #9b0e0e;
}

@media screen and(min-width: 768px) {
    .index-modal-form__usersvg {
        top: 126px;
        left: 55px;
        position: absolute;
    }
}

@media screen and(min-width: 1200px) {
    .index-modal-form__usersvg {
        top: 104px;
        left: 55px;
        position: absolute;
    }
}

.index-modal-form__tel {
    margin-left: 40px;
    margin-bottom: 4px;
    font-family: 'DM Sans',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #fff;
}

.index-modal-form__telarea {
    position: relative;
    margin-left: 40px;
    width: 370px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: var(--product-pink);
}

@media screen and(min-width: 320px) {
    .index-modal-form__telarea {
        position: relative;
        margin-right: auto;
        width: auto;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    }
}

@media screen and(min-width:768px) {
    .index-modal-form__telarea {
        position: relative;
        margin-left: 40px;
        width: 370px;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    }
}

@media screen and(min-width:1200px) {
    .index-modal-form__telarea {
        position: relative;
        margin-left: 40px;
        width: 448px;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    }
}

.index-modal-form__telarea:focus-within {
    outline: none;
    border-color: #9b0e0e;
    transition: cubic-bezier(0.4, 0, 0.2, 1), 250ms;
}

.index-modal-form__tel:focus-within {
    fill: #2196F3;
    transition: cubic-bezier(0.4, 0, 0.2, 1), 250ms;
}

.index-modal-form__telarea--telplace {
    padding-left: 45px;
    font-size: 14px;
}

.index-modal-form__telsvg {
    top: 195px;
    left: 54.27px;
    position: absolute;
    fill: #9b0e0e;
}

@media screen and(min-width: 768px) {
    .index-modal-form__telsvg {
        top: 194px;
        left: 54.27px;
        position: absolute;
    }
}

@media screen and(min-width: 1200px) {
    .index-modal-form__telsvg {
        top: 172px;
        left: 54.27px;
        position: absolute;
    }
}

.index-modal-form__email {
    margin-left: 40px;
    margin-bottom: 4px;
    font-family: 'DM Sans',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #fff;
}

.index-modal-form__emailarea {
    position: relative;
    margin-left: 40px;
    width: 370px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: var(--product-pink);
}

@media screen and(min-width: 320px) {
    .index-modal-form__emailarea {
        position: relative;
        margin-right: auto;
        width: auto;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    }
}

@media screen and(min-width:768px) {
    .index-modal-form__emailarea {
        position: relative;
        margin-left: 40px;
        width: 370px;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    }
}

@media screen and(min-width:1200px) {
    .index-modal-form__emailarea {
        position: relative;
        margin-left: 40px;
        width: 448px;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    }
}

.index-modal-form__emailarea--emailplace {
    padding-left: 45px;
    font-size: 14px;
}

.index-modal-form__emailarea:focus-within {
    outline: none;
    border-color: #9b0e0e;
    transition: cubic-bezier(0.4, 0, 0.2, 1), 250ms;
}

.index-modal-form__email:focus-within {
    fill: #2196F3;
    transition: cubic-bezier(0.4, 0, 0.2, 1), 250ms;
}

.index-modal-form__emailsvg {
    top: 262px;
    left: 53.5px;
    position: absolute;
    fill: #9b0e0e;
}

@media screen and(min-width: 768px) {
    .index-modal-form__emailsvg {
        top: 263px;
        left: 53.5px;
        position: absolute;
    }
}

@media screen and(min-width: 1200px) {
    .index-modal-form__emailsvg {
        top: 241px;
        left: 53.5px;
        position: absolute;
    }
}

.index-modal-form__comment {
    margin-left: 40px;
    margin-bottom: 4px;
    font-family: 'DM Sans',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #fff;
}

.index-modal-form__commentplace {
    width: 370px;
    height: 120px;
    margin-left: 40px;
    padding-left: 16px;
    padding-bottom: 81px;
    font-size: 14px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: var(--product-pink);
}

@media screen and(min-width: 320px) {
    .index-modal-form__commentplace {
        width: auto;
        height: 120px;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 32px;
        padding-bottom: 81px;
        font-size: 14px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        background-color: var(--product-pink);
    }
}

@media screen and(min-width:768px) {
    .index-modal-form__commentplace {
        width: 370px;
        height: 120px;
        margin-left: 40px;
        padding-left: 16px;
        padding-bottom: 81px;
        font-size: 14px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        background-color: var(--product-pink);
    }
}

@media screen and(min-width:1200px) {
    .index-modal-form__commentplace {
        width: 448px;
        height: 120px;
        margin-left: 40px;
        padding-left: 16px;
        padding-bottom: 81px;
        font-size: 14px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        background-color: var(--product-pink);
    }
}

.index-modal-form__commentplace::placeholder {
    font-family: 'DM Sans',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.index-modal-form__commentplace:focus-within {
    outline: none;
    border-color: #9b0e0e;
    transition: cubic-bezier(0.4, 0, 0.2, 1), 250ms;
}

.index-modal-form__comment:focus-within {
    fill: #2196F3;
    transition: cubic-bezier(0.4, 0, 0.2, 1), 250ms;
}


.index-modal-form__checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: -13px 3px 4px 14px;
    position: relative;
}

@media screen and(min-width:768px) {
    .index-modal-form__checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin: 4px 0px 30px 14px;
        position: relative;
        margin-bottom: 11px;
    }
}

@media screen and(min-width:1200px) {
    .index-modal-form__checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        margin: 5px 0px 30px 14px;
        position: relative;
        margin-bottom: 11px;
    }
}

.index-modal-form__label--checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.index-modal-form__policytext {
    margin-left: 7px;
    margin-bottom: 4.75px;
    font-family: 'DM Sans',
        sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #fff;
}

@media screen and(min-width:768px) {
    .index-modal-form__policytext {
        margin-left: 7px;
        margin-bottom: 4.75px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }
}

@media screen and(min-width:1200px) {
    .index-modal-form__policytext {
        margin-left: 7px;
        margin-bottom: 4.75px;
        font-family: 'DM Sans',
            sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }
}

.index-modal-form__policytext::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 52px;
    top: 9px;
}

@media screen and(min-width:320px) {
    .index-modal-form__policytext::before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        left: 10px;
        top: 0px;
    }
}

@media screen and(min-width:768px) {
    .index-modal-form__policytext::before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        left: 36px;
        top: 3px;
    }
}

@media screen and(min-width:1200px) {
    .index-modal-form__policytext::before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        left: 72px;
        top: 3px;
    }
}

.index-modal-form__checkbox:checked+.index-modal-form__policytext::before {
    background-image: url(../images/header/iconcheck.svg);
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.index-modal-form__checkbox:checked {
    visibility: hidden;
}

.index-modal-form__span {
    color: #4e052a;
    text-decoration: underline;
    cursor: pointer;
}

.index-modal-form__button {
    width: 160px;
    height: 44px;
    border-radius: 22px;
    background-color: #fff;
    border: none;
    transition: background-color 1000ms cubic-bezier(0.165, 0.84, 0.44, 1),
        color 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);

    border: none;
    width: 200px;
    height: 50px;
    margin: 30px 164px 40px 164px;
    padding: 0;
    cursor: pointer;

    &:hover,
    &:focus,
    &:focus-within {
        background-color: var(--product-pink);
        color: var(--dark-pink);
        ;
    }
}

@media screen and(min-width: 320px) {
    .index-modal-form__button {
        width: 160px;
        height: 44px;
        border-radius: 22px;
        background-color: #fff;
        border: none;
        transition: background-color 1000ms cubic-bezier(0.165, 0.84, 0.44, 1),
            color 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
        border: none;
        width: 200px;
        height: 50px;
        margin: 0 auto;
        padding: 0;
        cursor: pointer;
    }
}

.index-modal-form__closebtn {
    position: absolute;
    cursor: pointer;
    right: 0%;
    top: 0%;
    margin: 8px 8px 0 0;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 1px 4px;
}

.index-modal-form__closebtn:hover {
    background-color: var(--product-pink);
    color: var(--dark-pink);
    transition: background-color 1000ms cubic-bezier(0.165, 0.84, 0.44, 1),
        color 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.backdrop {
    display: inline-block;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 500ms;
    transition-timing-function: ease-in;
}

@media screen and(min-width: 768px) {
    .backdrop {
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        transition: 500ms;
        transition-timing-function: ease-in;
    }
}

@media screen and(min-width: 1200px) {
    .backdrop {
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        transition: 500ms;
        transition-timing-function: ease-in;
    }
}